html,
body,
#root,
#main #layout {
    min-height: 100% !important;
    height: 100%;
}

:root {
    --landscape-width: 25;
    --portrait-width: 80vw;
    --header-height: 4rem;
    --secs: 0.4s;
}

#layout {
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#top {
    flex-flow: row;
    height: 10%;
    width: 100%;
}
